{% extends 'base.html' %}



{% block content %}
<div class="mt-4 p-5 bg-dark text-white  rounded">
    <h5>Name: {{rack.name}} </h5>
    <h5>Sample Type: {{rack.sample_type}}</h5>
    <h5>Rack Size: {{rack.rack_size}} </h5>
    <h5>available_spots: {{rack.get_available_spots}} </h5>
 
    {% if rack.full %}
    <a type="submit" href="{% url 'empty_rack' pk=rack.pk %}" class="btn btn-danger">Empty Rack</a>
    {% elif rack.get_available_spots == rack.rack_size %}
    <a type="submit" href="{% url 'scan' pk=rack.pk %}" class="btn btn-primary">Scan</a>
    {% else %}
    <a type="submit" href="{% url 'empty_rack' pk=rack.pk %}" class="btn btn-danger">Empty Rack</a>
    <a type="submit" href="{% url 'scan' pk=rack.pk %}" class="btn btn-primary">Scan</a>
    {% endif %}
  </div>

<table class="table table-striped">
    <thead>
        <th>Sample ID</th>
        <th>Location</th>
        <th>Time Scanned</th>
    </thead>
    <tbody>
        {% for sample in samples %}
            <tr>
                <td>{{sample.sid}}</td>
                <td>{{sample.location}}</td>
                <td>{{sample.time_scanned}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> 
{% endblock %}