{% extends 'base.html' %}


{% block content %}

<h3>Select Rack</h3>
<table class="table table-striped">
    <thead>
        <th>Rack Name </th>
        <th>Sample Type</th>
        <th>Rack Size</th>
        <th>Remaining Spots</th>
    </thead>
    <tbody>
        {% for rack in racks %}
            <tr>
                <td><a href="{% url 'scan' pk=rack.pk %}">{{rack.name}}</a></td>
                <td>{{rack.sample_type}}</td>
                <td>{{rack.rack_size}}</td>
                <td>{{rack.get_available_spots}}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}